---
import galleryImg1 from "../assets/galleryImg1.webp";
import galleryImg2 from "../assets/galleryImg2.webp";
import galleryImg3 from "../assets/galleryImg3.webp";
import galleryImg4 from "../assets/galleryImg4.webp";
import galleryImg5 from "../assets/galleryImg5.webp";
import galleryImg6 from "../assets/galleryImg6.webp";
import galleryImg7 from "../assets/galleryImg7.webp";
import galleryImg8 from "../assets/galleryImg8.webp";
import galleryImg9 from "../assets/galleryImg9.webp";
import galleryImg10 from "../assets/galleryImg10.webp";
import galleryImg11 from "../assets/galleryImg11.webp";
import galleryImg12 from "../assets/galleryImg12.webp";
import galleryImg13 from "../assets/galleryImg13.webp";
import galleryImg14 from "../assets/galleryImg14.webp";
import galleryImg15 from "../assets/galleryImg15.webp";
---

<section id="gallery" class="mb-[258px]">
  <h3
    class="mb-[100px] md:mb-[144px] text-[40px] md:text-[56px] lg:text-[64px] font-normal text-titleGreenTxtColor text-center"
  >
    Фотогалерея
  </h3>
  <div class="embla photo">
    <div class="embla__viewport">
      <div class="embla__container photo">
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg1.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg2.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg3.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg4.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg5.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg6.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg7.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg8.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg9.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg10.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg11.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg12.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg13.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg14.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
        <div class="embla__slide img-wrapper">
          <img
            src={galleryImg15.src}
            loading="lazy"
            alt="Изображение геодезических или геологических работ на объекте"
          />
        </div>
      </div>
    </div>
    <div class="embla__buttons">
      <button class="embla__prev" aria-label="Previous button">
        <svg class="embla__button__svg" viewBox="0 0 532 532">
          <path
            fill="currentColor"
            d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
          ></path>
        </svg>
      </button>
      <button class="embla__next" aria-label="Next button">
        <svg class="embla__button__svg" viewBox="0 0 532 532">
          <path
            fill="currentColor"
            d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
          ></path>
        </svg></button
      >
    </div>
  </div>
</section>

<style>
  .gallery {
  }

  .embla {
    overflow: hidden;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1200px) {
      max-width: 950px;
    }
  }

  .embla__container.photo {
    display: flex;
  }

  .embla__slide {
    display: flex;
    flex: 0 0 33.33%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: 0;
    max-width: 100%;
    touch-action: pan-y;
    position: relative;

    @media screen and (max-width: 1200px) {
      flex: 0 0 50%;
    }
    @media screen and (max-width: 741px) {
      flex: 0 0 100%;
      padding: 0px 20px 0px 20px;
    }
  }

  .img-wrapper {
    height: 600px;
    width: 400px;
  }

  .img-wrapper img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }

  .img-wrapper img:hover {
    transform: scale(1.03);
  }

  .embla__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.6rem;
  }
  .embla__button {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }
  .embla__button:disabled {
    opacity: 0.3;
  }
  .embla__button__svg {
    width: 26px;
    height: 26px;
    color: #f7f7f7;
  }
</style>

<script>
  import EmblaCarousel from "embla-carousel";
  const options = { align: "start", loop: false, dragFree: true } as const;

  const rootNode = document.querySelector(".embla.photo") as HTMLElement;
  const viewportNode = rootNode.querySelector(
    ".embla__viewport"
  ) as HTMLElement;

  const prevButtonNode = rootNode.querySelector(".embla__prev");
  const nextButtonNode = rootNode.querySelector(".embla__next");
  const emblaApi = EmblaCarousel(viewportNode, options);

  prevButtonNode.addEventListener("click", () => emblaApi.scrollPrev(), false);
  nextButtonNode.addEventListener("click", () => emblaApi.scrollNext(), false);
</script>
