---
import projectLicenseFull1 from "../assets/projectLicenseFull1.webp";
import projectLicenseFull2 from "../assets/projectLicenseFull2.webp";
import projectLicenseFull3 from "../assets/projectLicenseFull3.webp";
import projectLicenseFull4 from "../assets/projectLicenseFull4.webp";
import projectLicenseFull5 from "../assets/projectLicenseFull5.webp";
import projectLicenseFull6 from "../assets/projectLicenseFull6.webp";
import projectLicenseFull7 from "../assets/projectLicenseFull7.webp";

import projectLPreview from "../assets/projectLPreview.webp";
import workLicenseFull1 from "../assets/workLicenseFull1.webp";
import workLicenseFull2 from "../assets/workLicenseFull2.webp";
import workLPreview from "../assets/workLPreview.webp";
---

<section class="mb-[255px]">
  <div class="flex justify-center items-end">
    <div class="flex justify-center">
      <span class="mb-[10px] self-end w-[3px] h-[360px] bg-mainBgColor"></span>
      <div class="flex flex-col ml-[38px]">
        <h3 class="mb-[35px] text-[64px] font-normal text-titleGreenTxtColor">
          Лицензия
        </h3>
        <p class="max-w-[619px] font-light text-[32px]">
          Мы обладаем всеми необходимыми лицензиями для профессиональной работы
          в сферах геологии и геодезии, соответствуя при этом всем международным
          и казахстанским стандартам. Наши лицензии - ваша уверенность в
          профессионализме и законности наших услуг.
        </p>
      </div>
    </div>
    <div class="gallery">
      <div
        class="img-container flex gap-10 w-full h-full object-cover cursor-pointer"
      >
        <img
          class="border"
          src={projectLPreview.src}
          data-original={`${projectLicenseFull1.src},${projectLicenseFull2.src}, ${projectLicenseFull3.src}, ${projectLicenseFull4.src}, ${projectLicenseFull5.src}, ${projectLicenseFull6.src}, ${projectLicenseFull7.src}`}
          alt="Проектная лицензия"
          width="284px"
          height="402px"
          loading="lazy"
          decoding="async"
        />
        <img
          class="border"
          src={workLPreview.src}
          data-original={`${workLicenseFull1.src}, ${workLicenseFull2.src}`}
          alt="Лицензия на изыскания"
          width="284px"
          height="402px"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
  <div class="modal">
    <img src={projectLicenseFull1.src} alt="" class="full-img" />
    <p class="caption"></p>
    <div class="modal-btns">
      <button class="prev-btn"></button>
      <button class="next-btn"></button>
    </div>
  </div>
</section>

<style>
  .img-container img:hover {
    transform: scale(1.1);
  }

  .modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
    z-index: 1000;
  }

  .modal.open {
    opacity: 1;
    pointer-events: all;
  }

  .full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
  }

  .full-img.open {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal p {
    color: white;
    font-size: 32px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
  }

  .prev-btn {
    position: fixed;
    bottom: 50%;
    left: 25%;
    width: 48px;
    height: 48px;
    background: url("../assets/prevBtn.webp");
  }

  .next-btn {
    position: fixed;
    bottom: 50%;
    right: 25%;
    width: 48px;
    height: 48px;
    background: url("../assets/nextBtn.webp");
  }
</style>

<script>
  const modal = document.querySelector(".modal") as HTMLElement;
  const previews = document.querySelectorAll(".gallery img");
  const original = document.querySelector(".full-img") as HTMLImageElement;
  const caption = document.querySelector(".caption") as HTMLElement;
  const prevButton = document.querySelector(".prev-btn") as HTMLElement;
  const nextButton = document.querySelector(".next-btn") as HTMLElement;

  previews.forEach((preview) => {
    preview.addEventListener("click", () => {
      modal.classList.add("open");
      original.classList.add("open");

      // Array of image sources from data-original
      const originalSrcArray = preview.getAttribute("data-original").split(",");

      // Initialize the current page index
      let currentPageIndex = 0;

      // Show current image
      function showImage() {
        original.src = originalSrcArray[currentPageIndex];
        let altText = (preview as HTMLImageElement).alt;
        caption.textContent = altText;
      }

      showImage();

      prevButton.addEventListener("click", () => {
        if (currentPageIndex > 0) {
          currentPageIndex--;
          showImage();
        }
      });

      nextButton.addEventListener("click", () => {
        if (currentPageIndex < originalSrcArray.length - 1) {
          currentPageIndex++;
          showImage();
        }
      });
    });
  });

  function closeModal() {
    modal.classList.remove("open");
    original.classList.remove("open");
  }

  modal.addEventListener("click", (e) => {
    if ((e.target as HTMLElement).classList.contains("modal")) {
      closeModal();
    }
  });

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") {
      closeModal();
    }
  });
</script>
