---
import tLogo1 from "../assets/tLogo1.webp";
import tLogo2 from "../assets/tLogo2.webp";
import tLogo3 from "../assets/tLogo3.webp";
import tLogo4 from "../assets/tLogo4.webp";
import tLogo5 from "../assets/tLogo5.webp";
import tLogo6 from "../assets/tLogo6.webp";
import tLogo7 from "../assets/tLogo7.webp";

import testimon1 from "../assets/testimon1.webp";
import testimon2 from "../assets/testimon2.webp";
import testimon3 from "../assets/testimon3.webp";

---

<section class="max-w-[1250px] mx-auto mb-[160px]">
  <div class="flex flex-col justify-center">
    <h3 class="mb-[79px] text-[64px] font-normal text-titleGreenTxtColor">
      Нам доверяют
    </h3>
    <p class="max-w-[619px] font-light text-[32px]">
      Главная ценность, которой мы обладаем — это наша репутация и доверие наших
      клиентов.
    </p>
  </div>
  <div class="flex flex-wrap gap-5 logo-wrapper mt-[70px] mb-[43px]">
    <img src={tLogo1.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo2.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo3.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo4.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo5.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo6.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo7.src} loading="lazy" alt="Логотип DCS компании" />
  </div>
  <h4 class="text-[40px] mb-[124px]">Рекомендательные письма:</h4>
  <div class="gallery">
    <div
      class="img-container flex gap-10 w-full h-full object-cover cursor-pointer justify-around"
    >
      <img
        class="border"
        src={testimon1.src}
        data-original={testimon1.src}
        alt="Рекомендательное письмо TOO Caspian Engineering and Research"
        width="284px"
        height="402px"
        loading="lazy"
        decoding="async"
      />
      <img
        class="border"
        src={testimon2.src}
        data-original={testimon2.src}
        alt="Рекомендательное письмо Института OPTIUM"
        width="284px"
        height="402px"
        loading="lazy"
        decoding="async"
      />
      <img
        class="border"
        src={testimon3.src}
        data-original={testimon3.src}
        alt="Рекомендательное письмо TOO САН-А"
        width="284px"
        height="402px"
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>

  <style>
    .logo-wrapper img {
      object-fit: contain;
    }

    .img-container img {
      transition: transform 0.5s;
    }

    .img-container img:hover {
      transform: scale(1.1);
    }
  </style>
</section>
