---
import tLogo1 from "../assets/tLogo1.webp";
import tLogo2 from "../assets/tLogo2.webp";
import tLogo3 from "../assets/tLogo3.webp";
import tLogo4 from "../assets/tLogo4.webp";
import tLogo5 from "../assets/tLogo5.webp";
import tLogo6 from "../assets/tLogo6.webp";
import tLogo7 from "../assets/tLogo7.webp";
---

<section class="max-w-[1250px] mx-auto">
  <div class="flex flex-col justify-center">
    <h3 class="mb-[79px] text-[64px] font-normal text-titleGreenTxtColor">
      Нам доверяют
    </h3>
    <p class="max-w-[619px] font-light text-[32px]">
      Главная ценность, которой мы обладаем — это наша репутация и доверие наших
      клиентов.
    </p>
  </div>
  <div class="flex flex-wrap gap-5 logo-wrapper mt-[70px] mb-[43px]">
    <img src={tLogo1.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo2.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo3.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo4.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo5.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo6.src} loading="lazy" alt="Логотип DCS компании" />
    <img src={tLogo7.src} loading="lazy" alt="Логотип DCS компании" />
  </div>
  <h4 class="text-[40px] mb-[124px]">Рекомендательные письма:</h4>
</section>

<style>
  .logo-wrapper img {
    object-fit: contain;
  }
</style>
